<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lc3vm-imgui.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lc3vm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B28A61725076CC800E3F0FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9C3F282508F31600C947F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9C3F402508F37500C947F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9C4019250A2A5B00C947F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
